/*GALLERY*/

.gallery__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  /*grid-gap: dùng tăng khoảng cách giữa các hình*/
}

.gallery__items1 {
  /*grid-column: 1 / 3; */
  grid-column: 1 / span 2;
}

.gallery__items2 {
  /*grid-column: 3 / 5; */
  grid-column: 3 / span 2;
}

.gallery__items img {
  width: 100%;
  height: 100%;
  display: block;
}

.gallery__items {
  position: relative;
}

.gallery__detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: right;
  padding: 40px;
}


/* .gallery__detail h3 ::before {content: "";

} */

.gallery__detail h3 {
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.gallery__detail h3::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  display: block;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  /* transition-property: all;
  transition-delay: 0s;
  transition-duration: .5s;
  0.5 có thể ghi là .5s 
  transition-timing-function: linear; */
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.gallery__detail p {
  position: absolute;
  bottom: 40px;
  right: 20px;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  opacity: 0;
}

.gallery__items:hover .gallery__detail h3 {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}


/* .gallery__items:hover .gallery__detail h3::after {
  transform: translateY(0);
}

.gallery__items:hover .gallery__detail p {
  transform: translateY(0);
} dùng dấu phẩy ở giữa */

.gallery__items:hover .gallery__detail h3::after,
.gallery__items:hover .gallery__detail p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.gallery h1 {
  text-align: center;
}
