#top-header {
    height: 64px;
    background-color: #08ecd9;
    font-display: Roboto;
    color: azure;
    font-size: medium;
    padding: 20px;
}
.header-left i{
    margin-right: 8px;
}
.header-right i{
    margin-left: 5px;
    padding: 8px 10px;
    background-color: gray;
    size: 10px;
    border: 1px solid transparent;
    transition: all 0.5s;
}
.header-right i:hover{
    background-color: #08ecd9;
    border: 1px solid;
}
