// .hinh1 {

//  width: 50px!important;
// }
.wrapper {
  display: inline-grid;
  // grid-template-columns: 200px 200px 200px 200px;
  // grid-template-rows: 100px 100px 100px 100px;
  margin: 10px 50px 10px 50px;
}
.item{
  margin: 5px;
}

.item1:hover { 
  position: relative;
//   .heart {
//     background-color: red;
//     display: inline-block;
//     height: 30px;
//     margin: 0 10px;
//     position: relative;
//     top: 0;
//     transform: rotate(-45deg);
//     width: 30px;
//   }
  
//   .heart:before,
//   .heart:after {
//     content: "";
//     background-color: red;
//     border-radius: 50%;
//     height: 30px;
//     position: absolute;
//     width: 30px;
    
  
//   .heart:before {
//     top: -15px;
//     left: 0;
//   }
  
//   .heart:after {
//     left: 15px;
//     top: 0;
//   }
  
// }
.heart:before {
  // top: -15px;
  // left: 0;
  opacity: 0%;
}
.heart:after {
fill: red;
position: absolute;
top: 5px;
width: 50px;
animation: pulse 1s ease infinite;
}

@keyframes pulse {
0% { transform: scale(1); }
50% { transform: scale(1.3); }
//100% { transform: scale(1); }
}
}

// .activeImg {
//   0% {
//       transform: rotateY(0deg);
//   }
//   100% {
//       transform: rotateY(180deg);
//       color: red;
//   }
// }
// activeScaleWhite {
//   0% {
//       transform: rotateY(90deg);
//   }
//   100% {
//       transform: rotateY(0deg);
//   }
 
//  .heart {
//   fill: red;
//   position: relative;
//   top: 5px;
//   width: 50px;
//   animation: pulse 1s ease infinite;
// }

// @keyframes pulse {
//   0% { transform: scale(1); }
//   50% { transform: scale(1.3); }
//   //100% { transform: scale(1); }
// }



// .item2:hover{
//   .ac-footer .ac-icon{position:absolute;left:0;right:0;width:20px;height:30px;margin:auto}.ac-footer .ac-icon-love-dark{background:url("https://community.algolia.com/places/images/svg/icon-heart-dark-66670e8e.svg") no-repeat center center/contain}
//   @keyframes pulse{0%{box-shadow:0 0 0 0 rgba(251,54,110,0.4)}70%{box-shadow:0 0 0 30px rgba(251,54,110,0)}100%{box-shadow:0 0 0 0 rgba(251,54,110,0)}}@keyframes pulseHeart{0%{transform:scale(1.3)}70%{transform:scale(1.15)}100%{transform:scale(1)}}.ac-icon-love-dark{display:block;position:relative}.ac-icon-love-dark:before{content:'';display:block;width:8px;height:8px;position:absolute;top:45%;bottom:0;left:50%;transform:translate(-50%, -50%);right:0;z-index:-1;border-radius:100%}.ac-footer-container:hover .ac-icon-love-dark{animation:pulseHeart 1s ease infinite}.ac-footer-container:hover .ac-icon-love-dark:before{animation:pulse 1s ease infinite !important}.ac-icon-triangle{width:0;height:0;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid #788795;position:relative;display:inline-block;margin-left:8px}
  
//   .ac-footer .ac-footer-brand:hover .ac-icon-love-dark{background:url("https://community.algolia.com/places/images/svg/icon-heart-light-fc92b1e0.svg") no-repeat center center/contain}
  
//   body{font-family:arial;font-size:30px;}
// }





